.guide-card {
  text-align: center;
  margin: 75px 0;
}

.guide-image {
  width: 100%;
  height: 200px;
  object-fit: cover; 
  border-radius: 8px;
}

.guide-text {
  margin: 10px 0;
  font-weight: 500;
}

.guide-button {
  background-color: black;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.guide-button:hover {
  background-color: #333;
}
